{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lançador de horas</title>

  <link rel="stylesheet" href="{%static '\style\style.css'%}">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="page">
    <header>
      <div>
        <img src="{%static '\img\s3nd-removebg-preview.png'%}" alt="logo s3nd">
      </div>
      <div class="initial-tittle">
        <h1> Lançador de horas</h1>
        <p>Aqui você pode lançar as horas do seu cliente</p>
      </div>
    </header>
    {%block content%}
    {%endblock%}
    <footer>
      <button form="my-form" class="button">Lançar horas</button>
    </footer>
  </div>

</body>

</html>